<div class="jumbotron-fluid" Style="background-image: url('./assets/images/traffic.jpg');">
  <div class="container mx-auto">
    <div class="row">
      <h2>Dit was het einde van de Quiz!</h2>
    </div>
  </div>
</div>


<div class="jumbotron-fluid" Style="background-color:black; height: 200px">
  <div class="container">
    <div class="row">
    </div>
    </div>
</div>

<div class="jumbotron-fluid" Style="background-color:black; height: 400px">
  <div class="container">
    <div class="row" style="background-color: black">
      <div class="col-md-3" style="background-color: black"></div>
      <div class="col-md-6" style="background-color: black"><h3 style="color: white">Je hebt {{correctAnswer}} vragen goed beantwoord.</h3></div>
      <div class="col-md-3"></div>
    </div>

    <div class="row" style="background-color: black">
      <div class="col-md-3" style="background-color: black"></div>
      <div class="col-md-6" style="background-color: black"><h3 style="color: white">Je hebt {{incorrectAnswer}} vragen fout beantwoord.</h3></div>
      <div class="col-md-3" style="background-color: black"></div>
    </div>

  </div>
  </div>








