h1 {
  color:white;
  font-size: 30px;
  font-family: 'Roboto', sans serif;
  font-weight: bold;
  text-align: center;
  margin-top: 8rem;

}

h2 {
  color:white;
  alignment: center;
  font-size: 20px;
  font-family: 'Roboto', sans serif;
  font-weight: bold;
  text-align: center;
  margin-top: 8rem;

}

form-inline{
  align-self: center;
  align-items: center;
}
