<div class="jumbotron jumbotron-fluid" Style="background-color:black">
  <div class="container mx-auto">
    <div class="row align-items-start">
      <h1 class='mx-auto' style="margin-top: 4rem;" >Welkom bij de Ordina Quizapp!</h1>
    </div>
  </div>
    <div class="container mx-auto" style="margin-top: 4rem">
      <h2>Voer een Quiznummer in:</h2>
      <form #homescreenForm="ngForm" (ngSubmit)="onOpenQuizSubmit()">
        <div class="form-inline justify-content-center">
          <input class="form-control mr-1" [(ngModel)]="chosenQuiz" [ngModelOptions]="{standalone: true}">
          <button type="submit"  class="btn btn-dark">Open Quiz</button>
        </div>
      </form>
    </div>


  <div class="container mx-auto" style="margin-top: 4rem">
    <h2>Of:</h2>
    <div class="form-inline justify-content-center">
      <button [routerLink]="['/createquiz']" class="btn btn-dark">Maak een nieuwe Quiz</button>
    </div>
  </div>

</div>
