

<div class="jumbotron-fluid d-flex flex-column">
  <div class="container">
    <div class="row">
      <h1>Maak een nieuwe Survey</h1>
    </div>
  </div>
</div>

  <div class="jumbotron-fluid d-flex flex-column">
    <div class="container">
      <div class="form-group" [formGroup] = "userForm">
        <label> Survey naam:</label>
        <div class="row">
          <div class="col-sm-10">
            <input formControlName="newsurvey">
          </div>


          <div class="col-sm-2">
            <label></label>
          </div>
        </div>

        <div class="spaced-row">
          <div class="col-sm-12">
          </div>
        </div>

        <div formGroupName="question">
        <label>Voer een nieuwe Vraag in:</label>

    <div class="row">
            <div class="col-sm-10">
             <input formControlName="newquestion">
            </div>
            <div class="col-sm-2">
            <label></label>
            </div>
    </div>


        <div class="spaced-row">
          <div class="col-sm-12">
          </div>
        </div>


        <label>Voer een nieuw Antwoord in:</label>
        <div class="row">
          <div class="col-sm-6 mr-2">
                <div formArrayName="answeropts" *ngFor="let answeropt of answeropts.controls; index as i">
                   <input [formControlName]="i">
                  <label>{{answeropt.value}} </label>
                </div>
            </div>

          <div class="col-sm-1">
          </div>

          <div class="col-sm-4 mr-2" >
            <button class="btn btn-dark mr-1" (click)="deleteAnsweropts()" >-</button>
            <button class="btn btn-dark" (click)="addAnsweropts()" >+</button>
          </div>

          <div class="col-sm-1">
          </div>

        </div>

        <div class="radioBlok">
        <label>
          <input type="radio" formControlName="iscorrect"> goed
        </label>
        </div>

        <div class="col-sm-1">
        </div>


        </div>

        <div class="row" style="margin-top:5rem ">

          <div Style="background-color:black;">
            <button class="btn btn-dark mr-2" (click)="nextQuestion()">Maak nog een vraag</button>
          </div>

          <div Style="background-color:black;">
            <button type="submit" (click)="onSubmit()" class="btn btn-dark" >Klaar</button>
          </div>

        </div>

        </div>
        </div>
    </div>




