h1 {
  color: white;
  font-size: 30px;
  font-family: 'Roboto', sans serif;
  font-weight: bold;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 4rem;

}

label {
  color: white;

}

input {
  width: 600px;
}

p {
  color: white;
  font-size: 15px;
  font-family: 'Roboto', sans serif;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 4rem;

}

.spaced-row {
  margin-bottom: 2rem;
}
