<div class="jumbotron-fluid" Style="background-image: url('./assets/images/traffic.jpg'); height: 250px">
  <div class="container mx-auto">
    <div class="row">

    </div>
  </div>
</div>

<div>

</div>

<div class="jumbotron-fluid d-flex flex-column">
  <div class="container">
    <div class="row">
      <h2> {{ currentQuestionObject?.questionDescription}}</h2>
    </div>
  </div>

  <div class="container">
<div class="row">
  <div class="col-sm-12">
    <div *ngIf="buttonClicked" class="col-sm-12" style="background-color: white; font-size: 14px; padding: 2rem" [ngStyle]="{ 'color': this.chosenAnswer.correct === true ? 'green' : 'red' }"> {{this.chosenAnswer.answerExplanation}}</div>
  </div>
  </div>

    <div class="row">
      <div class="col-sm-12">
        <form #questionForm="ngForm" (ngSubmit)="onFormSubmit(questionForm)">

          <div class="radioBlok" *ngFor="let answer of answers">
            <input type="radio" name="answerButtons" [(ngModel)]="selectedValue" value="{{answer}}">
            <label class="antwoordLabel">{{answer}}</label>
          </div>
          <div class="col-6" *ngIf="hasAnswer">
            <p Style="color:red; padding:1rem"> Selecteer een antwoord om verder te gaan</p>
          </div>
          <button class="btn btn-light btn-sm" type="submit" *ngIf="show">
            Submit
          </button>

        </form>
      </div>



       </div>
  </div>

  <div class="container mx-auto">
  <div class="row" style="margin: 5px; background-color: white" >
    <div class="col-sm-12"></div>
  </div>

  <div class="row">
    <div class="col-11" Style="background-color:black;" *ngIf="buttonClicked">
    </div>
    <div class="col-1" Style="background-color:black;" *ngIf="showVolgende">
      <p style="margin: 1rem;"><button class="btn btn-dark btn-lg" (click)="nextQuestion()">Volgende</button></p>
    </div>
  </div>

</div>
</div>
