<div class="jumbotron-fluid" Style="background-image: url('./assets/images/traffic.jpg');">
  <div class="container mx-auto">
    <div class="row">

    </div>
  </div>
</div>
<div>
{{ _currentSurvey?.surveyDescription }}
</div>
<div class="jumbotron-fluid" Style="background-color:black;">
  <div class="container">
    <div class="row">
      <h2 style="margin-top: 2rem;"> {{ _currentSurvey?.questions[1].questionDescription }}</h2>
    </div>

    <form #questionForm="ngForm"(ngSubmit)="onFormSubmit(questionForm)">
<table>
  <tr>
    <td>
 <input type="radio" name="gridRadios"  value="option1"  [ngModel]="_answeroptions.id" required #gridradios="ngModel" >
            A. {{ _currentSurvey?.questions[0].answerOptions[0].value }}
  </td>
    </tr>

      <tr>
        <td>
          <input  type="radio" name="gridRadios" id="gridRadios2" value="option2" [ngModel]="_answeroptions.id" required #gridradios="ngModel">

            B. {{ _currentSurvey?.questions[0].answerOptions[1].value }}

        </td>
      </tr>

      <tr>
        <td>

          <input type="radio" name="gridRadios" id="gridRadios3" value="option3" [ngModel]="_answeroptions.id" required #gridradios="ngModel">
          < C. {{ _currentSurvey?.questions[0].answerOptions[2].value }}>
        </td>
      </tr>
  <tr>
    <td colspan="2">
      <button>Submit</button>
    </td>
  </tr>
</table>
      </form>

    <div *ngIf="buttonClicked" class="col-sm-6" style="background-color: white"><p>Goed! blablablabla</p>
    </div>
  </div>


<div class="container-fluid" Style="background-color:black;">
  <div class="text-right" Style="background-color:black;">
    <p><a [routerLink]="['/question']"><button (click)="clicked()" class="btn btn-dark btn-lg">Bevestigen</button></a></p>
  </div>
</div>


</div>
