<div Style="background-image: url('./assets/images/traffic.jpg'); height: 250px" class="jumbotron-fluid">
  <div class="container mx-auto">
    <div class="row">
    </div>
  </div>
</div>

<div class="jumbotron-fluid d-flex flex-column">
  <div class="container">
    <div class="row">
      <h2> {{ currentQuestion?.questionDescription}}</h2>
    </div>
  </div>

  <div class="container">
    <div class="row col-sm-12">
    </div>

    <div class="row col-sm-12">
      <!-- form-->
      <form #questionForm="ngForm" (ngSubmit)="onFormSubmit()">

        <div *ngFor="let answerOption of answerOptionsArray" class="radioBlok">
          <input [(ngModel)]="chosenAnswer" [value]="answerOption" name="answerButtons" type="radio">
          <label class="antwoordLabel">{{answerOption.value}}</label>
        </div>

        <button *ngIf="chosenAnswer?.value != null && answerIsCorrect == null" class="btn btn-light btn-sm"
                type="submit">
          Submit
        </button>

      </form>
      <div *ngIf="answerIsCorrect" [ngStyle]="{ 'color': answerIsCorrect?.isCorrect === true ? 'green' : 'red' }"
           class="col-sm-6"
           style="background-color: white">
        {{answerIsCorrect.answerExplanation}}
      </div>

    </div>
  </div>
</div>

<div class="container mx-auto">
  <div class="row col-sm-12" style="margin: 5px; background-color: white">
  </div>

  <div class="row">
    <div *ngIf="answerIsCorrect" Style="background-color:black;" class="col-1">
      <p style="margin: 1rem;">
        <button (click)="nextQuestion()" class="btn btn-dark btn-lg">Volgende</button>
      </p>
    </div>
  </div>

</div>
